{% extends 'base.html.twig' %}

{% block title %}{{ 'double_opt_in.title'|trans({},'KikwikDoubleOptInBundle') }}{% endblock %}

{% block body %}
    <div class="alert alert-{{ result }}">
        {{ ('double_opt_in.'~result)|trans({},'KikwikDoubleOptInBundle') }}
    </div>
    
    {% if object %}
        {# do something with the verified object #}
    {% endif %}
{% endblock %}
